# 打包目录
dist/
build/
*.spec

# Python缓存
__pycache__/
*.py[cod]
*$py.class

# 日志文件
*.log

# 虚拟环境
venv/
env/
.env/

# 测试文件
test_images/
output_images/
# 保留示例图片
!examples/*.jpg
!examples/*.png

# IDE文件
.idea/
.vscode/
*.swp
.DS_Store

# 临时文件
*.tmp
*.bak 